body {
	font-family: 'Cutive Mono', monospace, "Helvetica";
	font-size: 18px;
	background-color: #e2ebf3;
}

#upcInput {
	width: 100%;
	height: auto;
}

.jumbotron{
	/*background-image: url("assets/images/diff-allergens.jpg");*/
	background-position: top;
	background-size: cover;
	background-color: #e2ebf3;
}

.jumbotron h1 {
	font-family: 'Permanent Marker', cursive;
	color: #3db;
	font-size: 86px;
}

.jumbotron h4{
	font-family: 'Pacifico', cursive;
	color: #e00;
}

.jumbotron a {
    text-decoration:none;
}
.allergen-icons {
	width: 50px;
	height: 50px;
	display: inline-block;
	
}

#productInput, #add-product {
	font-size: 20px;
	height: 60px;
}

.table-responsive {
    height: 300px;
    overflow: scroll;
}

.displayOff {
	display: none;
}

.redIngredients{
	color: red;
}

.yellowIngredients{
	color: #ff9900;
}

.relatedItemsFromWalmart{
	height: 100px;
	margin: 2px;
}

.imageInline {
	margin: 5px;
	display: inline-block;
	border: 1px solid gray;
	width: 300px;
	padding: 5px;
	border-radius: 5px;
}

strong {
	font-size: 22px;
}
/* all panelbody shall have same color*/
.panel-heading {
	font-weight: bold;
}

.panel-body {
	/*background-color: #f2f2f2;*/
	font-weight: bold;
}

.panel-info>.panel-heading {
    color: #ffffff;
    background-color: #dd4814;
    border-color: #dd4814;
}


/* Rules for screen widths at 768px or lower */

@media only screen and (max-width: 768px) {
	.container {
		width: 600px;
	}
}

@media screen and (max-width: 640px) {
	.container {
		width: 480px;
	}
}

@media screen and (max-width: 320px) {
	.container {
		width: 300px;
	}
}

/*Reference(s):
Jumbotron image - https://utahfoodallergy.files.wordpress.com/2014/04/food-allergy-graphic-11162.jpg?w=980&h=200&crop=1*/