body {
	font-family: "Helvetica Neue";
}

#upcInput {
	width: 100%;
	height
}
.jumbotron h1 {
	color: #e00;
}

.allergen-icons {
	width: 50px;
	height: 50px;
	display: inline-block;
	
}

.allergen-icons-div {
	border: 1px solid red;
}

.allergen-icons-button.selected {
	background-color: #e00;
}

#search-results {
    width: auto;
    height: 300px;
    overflow: scroll;
}

.displayOff {
	display: none;
}

.redIngredients{
	color: red;
}

.yellowIngredients{
	color: #fa5;
}

.relatedItemsFromWalmart{
	height: 100px;
	margin: 2px;
}


.imageInline {
	margin: 5px;
	display: inline-block;
	border: 1px solid gray;
	width: 300px;
	padding: 5px;
	border-radius: 5px;
}