.allergen-icons {
	width: 50px;
	height: 50px;
	display: inline-block;
	
}

.allergen-icons-div {
	border: 1px solid red;
}

.allergen-icons-button:hover {
	background-color: #e00;
}

.displayOff {
	display: none;
}

.redIngredients{
	color: red;
}

.yellowIngredients{
	color: #fa5;
}

.relatedItemsFromWalmart{
	height: 100px;
	margin: 2px;
}


.imageInline {
	margin: 5px;
	display: inline-block;
	border: 1px solid gray;
	width: 300px;
	padding: 5px;
	border-radius: 5px;
}